{% extends 'master.html' %}
{% load staticfiles %}
{% block content %}

<div class="table-responsive">
	<table class="table" style="width:100%" >
							<thead>
								<tr>
									<th>Particular/description</th>
								 	<th>Open Inventory</th>
								 	<th>purchased Inventory</th>
								 	<th>usage</th>
								 	<th>closing</th>
								 	<th><a href={% url 'create' %} class="btn" type="button">add items</a></th>
								</tr>
							</thead>
							<tbody>  
							{% for inventory in inventory_list %}
								<tr>
									<td>{{inventory.id}}. {{inventory.name}}</td>
									<td>{{inventory.unit_measure}} {{inventory.no_of_units}}</td>
									<td>{{inventory.purchased_inventory}}</td>
									<td>{{inventory.usage}}</td>
									<td>{{inventory.closing_inventory}}</td>
									<td><a href='/{{inventory.id}}/update'  class="btn" type="button">edit</a></td>
								</tr>

							{% endfor %}
							</tbody>
</div>

{% endblock content %}