{% extends 'master.html' %}
{% load staticfiles %}
{% block content %}


<div class="row">
<div class="col-md-3">
<h4>Particular/description</h4>
{% for inventory in inventory_list %}
	{{inventory.name}}<br>
	{% endfor %}
</div>
<div class="col-md-2">
<h4>Open Inventory</h4>
{% for inventory in inventory_list %}
{{inventory.unit_measure}}
{{inventory.no_of_units}}<br>
{% endfor %}
	
</div>
<div class="col-md-2">
<h4>purchased Inventory</h4>
{% for inventory in inventory_list %}
{% endfor %}
	
</div>
<div class="col-md-2">
<h4>usage</h4>

{% for inventory in inventory_list %}
{% endfor %}
</div>
<div class="col-md-2">
<h4>closing</h4>

{% for inventory in inventory_list %}
{% endfor %}
</div>
</div>

{% endblock content %}